<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VietNamBooking - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Themes/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/Themes/bower_components/Ionicons/css/ionicons.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/themes/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/themes/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/themes/bower_components/select2/dist/css/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Themes/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins -->
    <link rel="stylesheet" href="~/Themes/dist/css/skins/_all-skins.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/_Layout2.cshtml.css">
    <link rel="shortcut icon" type="image/jpg" href="~/Themes/dist/img/ava.jpg" />
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="shortcut icon" type="image/jpg" href="~/Themes/dist/img/ava.jpg" />

    <!-- HTML5 Shim and Respond.js for IE8 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="font-family: 'Roboto', sans-serif;">
    <!-- Header -->
    <header class="bg-[#9FDDED] text-white py-4">
        <div class="mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex flex-col md:flex-row justify-start items-center">
                <!-- Logo -->
                <div class="mb-6 md:mb-0">
                    <a href="~/" class="flex items-center text-white no-underline">
                        <i class="fas fa-hotel text-white text-4xl mr-3"></i>
                        <span class="text-4xl font-bold text-white">VietNamBooking</span>
                    </a>
                </div>
                <!-- Navigation -->
                <nav class="absolute left-1/2 transform -translate-x-1/2">
                    <ul class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-16 list-none">
                        <li>
                            <a href="~/" class="text-2xl md:text-3xl text-white font-medium hover:text-gray-200 transition duration-200 whitespace-nowrap">Trang chủ</a>
                        </li>
                        <li>
                            <a href="~/Hotels" class="text-2xl md:text-3xl text-white font-medium hover:text-gray-200 transition duration-200 whitespace-nowrap">Khách sạn</a>
                        </li>
                        <li>
                            <a href="~/Bookings/Create" class="text-2xl md:text-3xl text-white font-medium hover:text-gray-200 transition duration-200 whitespace-nowrap">Đặt phòng</a>
                        </li>
                        <li>
                            <a href="~/Contact" class="text-2xl md:text-3xl text-white font-medium hover:text-gray-200 transition duration-200 whitespace-nowrap">Liên hệ</a>
                        </li>
                    </ul>
                </nav>
                <!-- Buttons -->
                <div class="mt-4 md:mt-0 ml-auto flex space-x-4">
                    <a asp-controller="Home" asp-action="Login" class="bg-[#FF6200] text-white px-6 py-3 rounded-lg text-2xl font-medium hover:bg-[#e55b00] transition duration-200 whitespace-nowrap">
                        Đăng nhập
                    </a>
                    <a asp-controller="Account" asp-action="Register" class="bg-white text-[#003087] px-6 py-3 rounded-lg text-2xl font-medium hover:bg-gray-100 transition duration-200 whitespace-nowrap">
                        Đăng ký
                    </a>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <main style="min-height: 80vh; background-color: #f5f7fa;">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <!-- Footer -->
    <footer style="background-color: #003087; color: #fff; padding: 20px 0; text-align: center;">
        <div class="container">
            <p>© 2025 VietNamBooking. All rights reserved.</p>
            <p>
                <a href="https://facebook.com" style="color: #FF6200; margin: 0 10px;"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com" style="color: #FF6200; margin: 0 10px;"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com" style="color: #FF6200; margin: 0 10px;"><i class="fab fa-instagram"></i></a>
            </p>
            <p>Liên hệ: <a href="mailto:support@vietnambooking.com" style="color: #FF6200;">support@vietnambooking.com</a></p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/themes/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/themes/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>