<footer style="background-color: #003087; color: #fff; padding: 20px 0; text-align: center;">
    <div class="container">
        <p>© 2025 VietNamBooking. All rights reserved.</p>
        <p>
            <a href="https://facebook.com" style="color: #FF6200; margin: 0 10px;"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com" style="color: #FF6200; margin: 0 10px;"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com" style="color: #FF6200; margin: 0 10px;"><i class="fab fa-instagram"></i></a>
        </p>
        <p>Liên hệ: <a href="mailto:support@vietnambooking.com" style="color: #FF6200;">support@vietnambooking.com</a></p>
    </div>
</footer>
