<footer class="main-footer" style="background-color: #003087; color: #fff; text-align: center; padding: 20px;">
    <strong>Copyright &copy; 2025 <a href="~/" style="color: #FF6200;">VietNamBooking</a>.</strong> All rights reserved.
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.5.0
    </div>
</footer>