/* _Layout2.cshtml.css */
body[b-rtijr8ytcw] {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f7fa;
}

header a:hover[b-rtijr8ytcw] {
    color: #FF6200 !important;
}

header .btn:hover[b-rtijr8ytcw] {
    opacity: 0.9;
}

main[b-rtijr8ytcw] {
    padding: 30px 0;
}

footer a:hover[b-rtijr8ytcw] {
    color: #fff !important;
}

@media (max-width: 768px) {
    header .row[b-rtijr8ytcw] {
        flex-direction: column;
        text-align: center;
    }

    header .col-md-3[b-rtijr8ytcw],
    header .col-md-6[b-rtijr8ytcw] {
        margin-bottom: 15px;
    }

    header nav ul[b-rtijr8ytcw] {
        flex-direction: column;
    }

        header nav ul li[b-rtijr8ytcw] {
            margin: 10px 0;
        }

    header .text-right[b-rtijr8ytcw] {
        text-align: center;
    }
}
