.sticky-blur {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.50);
    transition: all 0.3s ease;
}

.normal {
    position: relative; /* Sử dụng relative thay vì static để tránh nhảy layout */
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}
